<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexuslink.cyclenavi">
    <uses-permission android:name="android.permission.CAMERA"/>

    //高德地图权限
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 可以提高室内定位的精确度 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 可以提高室内定位的精确度 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a63b307c554a5c7eac9a893c2e8e79ee" />

        <activity
            android:name=".View.Impl.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".View.Impl.Activities.AboutActivity" />
        <activity
            android:name=".View.Impl.Activities.PersonalActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".View.Impl.Activities.WelcomeActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Impl.Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Impl.Activities.RegisterActivity"
            android:theme="@style/AppTheme" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".Service.VelocityMeasurementService">
            <intent-filter>
                <action android:name="cyclenavi.Service.VelocityMeasurementService" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.Impl.Activities.SearchActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".View.Impl.Activities.MsgActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Impl.Activities.FavouriteActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Impl.Activities.ForumActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Impl.Activities.NaviActivity"
            android:theme="@style/NaviBlackTheme" />
        <activity
            android:name=".View.Impl.Activities.PublishDialogActivity"
            android:theme="@style/DialogTransparent"
            android:windowSoftInputMode="stateUnspecified|adjustUnspecified" />
        <activity
            android:name=".View.Impl.Activities.LookUpActivity"
            android:theme="@style/NaviBlackTheme" />
        <activity android:name=".View.Impl.Activities.CommentActivity" />
        <activity android:name=".View.Impl.Activities.MapActivity"></activity>
    </application>

</manifest>